<div class="col-md-10 col-md-offset-1">
    <div class="card " style="width: 83rem; height: 30rem;">
      <div class="card-body">
        
        <h1 class="card-title">Hakkımızda</h5>
        
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">Hadi uygulamasını kullannan kullanıcılar için kolaylıklar sağlamak amacıyla kurulduk.</p>
        
        <h5>Sitemizde olanlar</h5>
        
        <p>jokerler</p>
        <p>ipucuları</p>
        <p>sorular için tahmin</p>

      </div>
    </div>
</div>
