<div class="card float-lg-left" style="width: 42rem; height: 30rem;">
  
  <div class="card-body">
    <h5 class="card-header">Hadi Joker</h5>
    <p class="card-text">Joker koduna buradan ulaşabilirsiniz.</p>
    <strong class="card-text">Joker kodu : </strong>
    <p class="card-text">cumhuriyet </p>
  </div>
</div>


<div class="card float-lg-right" style="width: 42rem; height: 30rem;">
  
  <div class="card-body">
    <h5 class="card-header">Hadi Ipucu</h5>
    <strong class="card-title">29 Ekim 2019 20:30</strong><br>
    <strong class="card-text">İpucu soru </strong>
    <p class="card-text">Atatürk'ün "Türk milletinin tabiat ve adetlerine en uygun olan idare" olarak gösterdiği yönetim şekli nedir ? </p>
    <strong class="card-text">Cevap : </strong>
    <p class="card-text">CUMHURİYET </p>
    
  </div>
</div>
<center>
	<a href="#" class="btn btn-danger">Mail bültenine abone ol</a>
</center>
<br/>
<br/>
<br/>